<header>
	<nav>
		<ul>
			<li><a href="{{path('app_home')}}">Inicio</a></li>
			<li><a href="{{path('app_lost_pets')}}">Buscados</a></li>
			<li><a href="{{path('app_found_pets')}}">Encontrados</a></li>
			<li><a href="{{path('app_user')}}">Mi Cuenta</a></li>
			<li><a href="{{path('app_lost_pets_create')}}">Publicar</a></li>
		</ul>
	</nav>
</header>
